#include <winver.h>
#include <winuser.h>
#include "Res.h"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "FileDescription", "SnK HotkeySuite"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "LegalCopyright", "Copyright (c) 2016 Lcferrum"
			VALUE "OriginalFilename", "HotkeySuite.exe"
			VALUE "ProductName", "SnK HotkeySuite"
			VALUE "ProductVersion", "1.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "HotkeySuite.manifest" 

IDI_HSTNAICO ICON DISCARDABLE "snoopy.ico"

IDR_ICONMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Stop", IDM_STOP_START
		MENUITEM SEPARATOR
		POPUP "Settings"
		BEGIN
			MENUITEM "Long press", IDM_SET_EN_LHK
			MENUITEM SEPARATOR
			MENUITEM "Ctrl+Alt", IDM_SET_CTRL_ALT
			MENUITEM "Shift+Alt", IDM_SET_SHIFT_ALT
			MENUITEM "Ctrl+Shift", IDM_SET_CTRL_SHIFT
			MENUITEM SEPARATOR
			MENUITEM "Change hotkey combination...", IDM_SET_CUSTOM
		END
		MENUITEM "On single press...", IDM_EDIT_SHK
		MENUITEM "On long press...", IDM_EDIT_LHK
		MENUITEM SEPARATOR
		MENUITEM "Exit", IDM_EXIT
	END
END

IDD_BINDINGDLG DIALOGEX 10, 10, 262, 73
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | DS_SHELLFONT | DS_3DLOOK | DS_NOIDLEMSG | WS_CLIPSIBLINGS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
EXSTYLE WS_EX_TOPMOST | WS_EX_APPWINDOW
CAPTION "Rebind []"
BEGIN
	DEFPUSHBUTTON	"Confirm", IDC_CONFIRM_SC, 68, 47, 59, 16, WS_DISABLED
	PUSHBUTTON		"Retry", IDC_RETRY_SC, 132, 47, 59, 16, WS_DISABLED
	PUSHBUTTON		"Cancel", IDC_CANCEL_SC, 196, 47, 59, 16, WS_DISABLED
	LTEXT			"Press any key...", IDC_BD_VIEWER, 7, 7, 247, 29, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN
END
