#include <winver.h>
#include <winuser.h>
#include "Version.h"
#include "Res.h"

//Note on VERSIONINFO
//According to MSDN https://msdn.microsoft.com/en-us/library/windows/desktop/aa381058.aspx required StringFileInfo fields are:
//CompanyName, FileDescription, FileVersion, InternalName, ProductName, ProductVersion and OriginalFilename
//But actually Windows does nothing if some of these fields (or VERSIONINFO altogether) are absent
//Moreover, since Vista Details tab (ex Version tab) of file properties dialog shows only limited number of StringFileInfo entries, even omitting some "required" ones
//FILEFLAGS is complete bogus - Details/Version dialog never displays anything regarding those flags, they are totally ignored by Windows

VS_VERSION_INFO VERSIONINFO
  FILEVERSION HS_VSVI_VERSION
  PRODUCTVERSION HS_VSVI_VERSION
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
  FILEFLAGS 0x0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "FileDescription", "SnK HotkeySuite"
			VALUE "FileVersion", HS_STR_VERSION
			VALUE "CompanyName", "Lcferrum"
			VALUE "LegalCopyright", "Copyright (c) " HS_CRIGHT_YEARS "Lcferrum"
			VALUE "InternalName", "HotkeySuite"
			VALUE "OriginalFilename", "HotkeySuite.exe"
			VALUE "ProductName", "SnK HotkeySuite"
			VALUE "ProductVersion", HS_STR_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "HotkeySuite.manifest" 

IDI_HSTNAICO ICON DISCARDABLE "hs.ico"
IDI_HSSTOPICO ICON DISCARDABLE "hs_stop.ico"

IDR_ICONMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Stop", IDM_STOP_START
		MENUITEM SEPARATOR
		POPUP "Settings"
		BEGIN
			MENUITEM "Long press", IDM_SET_EN_LHK
			MENUITEM SEPARATOR
			MENUITEM "Ctrl+Alt", IDM_SET_CTRL_ALT
			MENUITEM "Shift+Alt", IDM_SET_SHIFT_ALT
			MENUITEM "Ctrl+Shift", IDM_SET_CTRL_SHIFT
			MENUITEM SEPARATOR
			MENUITEM "Change hotkey combination...", IDM_SET_CUSTOM
		END
		MENUITEM "On single press...", IDM_EDIT_SHK
		MENUITEM "On long press...", IDM_EDIT_LHK
		MENUITEM SEPARATOR
		MENUITEM "Exit", IDM_EXIT
	END
END

IDD_BINDINGDLG DIALOGEX 10, 10, 262, 60
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | DS_SHELLFONT | DS_3DLOOK | DS_NOIDLEMSG | WS_CLIPSIBLINGS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
EXSTYLE WS_EX_TOPMOST | WS_EX_APPWINDOW
CAPTION "Rebind []"
BEGIN
	DEFPUSHBUTTON	"Confirm", IDC_CONFIRM_SC, 68, 39, 59, 16, WS_DISABLED
	PUSHBUTTON		"Retry", IDC_RETRY_SC, 132, 39, 59, 16, WS_DISABLED
	PUSHBUTTON		"Cancel", IDC_CANCEL_SC, 196, 39, 59, 16, WS_DISABLED
	LTEXT			"Press any key...\n(Ctrl, Alt and Shift keys are ignored)", IDC_BD_VIEWER, 7, 7, 247, 25, SS_CENTER | SS_SUNKEN
END
